<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%>
      
      <ul>
            
            <li><%= link_to 'Transferencia', transfers_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Palestras', workshops_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking Federação', ranking_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking EJs', ranking_ejs_path, :class=> "link-home-temp"%></li>
            
      </ul>
      
</nav>

<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
          
          <% if !current_user.admin %>
          <div class="foto-user">
            
          <%= image_tag(current_user.profile_photo_url)  if current_user.profile_photo.present? %>
          
          </div>
          <% end %>
          
        <ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>
          
          <li>  <%= link_to 'Recuperar Senha', password_recover_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Transferencias', transfers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Palestrantes', speakers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Eventos', events_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Materiais', materials_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Quartos', rooms_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Hospedagens', locals_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'EJs', ejs_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Federações', federacaos_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%></li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
          
        <h1>Ranking de Empresas Juniores</h1>
        
        <div class="box-ranking-ej">
            <div class="menu-ranking-ej">
                <h3>Federação</h3>
                <h3>Empresa</h3>
                <h3>Inscritos</h3>
            </div>
            <% @ejs.each do |ej| %>-->
              <div class="nome-fed">
                <p><%= ej.federacao.name %></p>
              <!--</div>-->
              <!--<div class="nome-ej">-->
                <p><%= ej.name %></p>
              <!--</div>-->
              <!--<div class="numero-ej">-->
                <p><%= ej.count %></p>
              </div>
            
            <% end %>
        </div>
        
        
        
        </div>
    </section>

    <div class="clear"></div>

  <!-- Box do ranking  -->

    <section id="ranking-adm">
        <div class="box-ranking-adm">
         
         
         
          <!--<h3>Ranking das Ejs</h3>-->
          <!--<ol>-->
          <!--  <li>  IN JUNIOR   </li>-->
          <!--  <li>  EJCM   </li>-->
          <!--  <li>  P&Q ENGENHARIA   </li>-->
          <!--</ol>-->
          
        </div>
        <div class="clear"></div>
    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>


















<!--<p id="notice"><%= notice %></p>-->

<!--<h1>Top EJs</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Federacao</th>-->
<!--      <th>Numero de Inscritos</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @ejs.each do |ej| %>-->
<!--      <tr>-->
<!--        <td><%= ej.name %></td>-->
<!--        <td><%= ej.federacao.name %></td>-->
<!--        <td><%= ej.count %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->
