<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ej.name %>
</p>

<p>
  <strong>Federacao:</strong>
  <%= @ej.federacao %>
</p>

<%= link_to 'Edit', edit_ej_path(@ej) %> |
<%= link_to 'Back', ejs_path %>
