<div class="topo-menu">
<%= form_with(model: speaker, local: true) do |form| %>
  <% if speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>


<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%>
      
      <ul>
            
            <li><%= link_to 'Transferencia', transfer_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Palestras', workshops_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking Federação', ranking_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking EJs', ranking_ejs_path, :class=> "link-home-temp"%></li>
            
      </ul>
      
</nav>

<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
        
          
        <ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Recuperar Senha', password_recover_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Transferencias', transfers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Palestrantes', speakers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Eventos', events_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Materiais', materials_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Quartos', rooms_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Hospedagens', locals_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'EJs', ejs_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Federações', federacaos_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%></li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
          <h1>Palestrantes</h1>
          
         
          
           <section class="box-speakers-edit">
              
              <div class="field-speakers clear">
                
                <%= form.label :name,"Nome:" %>
                
                <%= form.text_field :name, id: :speaker_name, :placeholder=> "Nome", :class=> "text-form-spk" %>
              </div>
            
              <div class="field-speakers clear">
                <%= form.label :email, "Email:" %>
                <%= form.text_field :email, id: :speaker_email, :placeholder=> "E-mail", :class=> "text-form-spk" %>
              </div>
            
              <div class="field-speakers clear ">
                <%= form.label :cel, "Telefone:" %>
                <%= form.text_field :cel, id: :speaker_cel, :placeholder=> "Celular", :class=> "text-form-spk" %>
              </div>
            
              <div class="field-speakers-file clear">
                <%= form.file_field :profile_photo, id: :speaker_profile_photo %>
              </div>
            
              <div class="field-speakers clear">
                <%= form.label :password,"Senha:" %>
                <%= form.password_field :password, id: :speaker_password, :placeholder=> "Senha", :class=> "text-form-spk" %>
              </div>
              
              <div class="field-speakers clear">
                <%= form.label :password_confirmation,"Confirmação:" %>
                
                <%= form.password_field :password_confirmation, id: :speaker_password_confirmation, :placeholder=> "Confirmação", :class=> "text-form-spk" %>
                     
              </div>
            
              <div class="btn-speakers-edit clear">
                <%= form.submit %> 
              </div>
            <% end %>
            
          </section>
 
        </div>
    </section>

    <div class="clear"></div>


    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer-speakers">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>


