<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @speaker.email %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @speaker.cel %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @speaker.password_digest %>
</p>

<p>
  <strong>Profile photo:</strong>
  <%= @speaker.profile_photo %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
