<div class="topo-menu">
<h1>Editing Material</h1>
</div>
<%= render 'form', material: @material %>
<div class="topo-menu">
<%= link_to 'Show', @material %> |
<%= link_to 'Back', materials_path %>
</div>