<p id="notice"><%= notice %></p>

<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%>
      
      <ul>
            
            <li><%= link_to 'Transferencia', transfer_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Palestras', workshops_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking Federação', ranking_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking EJs', ranking_ejs_path, :class=> "link-home-temp"%></li>
            
      </ul>
      
</nav>

<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
        
          
<ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Recuperar Senha', password_recover_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Transferencias', transfers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Palestrantes', speakers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Eventos', events_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Materiais', materials_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Quartos', rooms_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Hospedagens', locals_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'EJs', ejs_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Federações', federacaos_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%></li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
          <h1>Downloads</h1>
          
          <h2>
            <%= current_user.name %>
          </h2>
 
        <section class="box-materials">

          <% @materials.each do |material| %>
          
            <div class="desc-materials"><h3>Titulos : <%= material.title %></h3></div>
            <div class="desc-materials"><h3>Descrição : <%= material.description %></h3></div>
            <div class="desc-materials"><h3>Workshops : <%= Workshop.find_by_id(material.workshop).title %></h3></div>

            <div class="btn-materials">
            <%= link_to 'Editar', edit_material_path(material), :class=> "link-home-temp"  %>
            <%= link_to 'Deletar', material, method: :delete, data: { confirm: 'Você Tem certeza disso?' }, :class=> "link-home-temp"  %>
            <%= link_to 'Mostrar', material_path(material), :class=> "link-home-temp"  %>
            
          <% end %>
        
          <%= will_paginate @materials %>
            </div>
          </section>
 
        </div>
    </section>

    <div class="clear"></div>


    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer-materials">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>


