<!--<p id="notice"><%= notice %></p>-->

<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%><!--<img src="/assets/EventIn.png">-->

      <!--<ul>-->
      <!--  <li>  <a href="#">Home</a>   </li>-->
      <!--  <li>  <a href="#">Documentos</a>   </li>-->
      <!--  <li>  <a href="#">Criar Palestras</a>   </li>-->
      <!--  <li>  <a href="#">Criar Eventos</a>   </li>-->
      <!--  <li>  <a href="#">Criar Hospedagens</a>   </li>-->
      <!--  <li>  <a href="#">Criar EJs e Federações</a>   </li>-->
      <!--</ul>-->
      
      <ul>
            
            <li><%= link_to 'Transferencia', transfers_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Palestras', workshops_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking Federação', ranking_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking EJs', ranking_ejs_path, :class=> "link-home-temp"%></li>
      </ul>
      
</nav>

<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
          
          <% if !current_user.admin %>
          <div class="foto-user">
            
          <%= image_tag(current_user.profile_photo_url)  if current_user.profile_photo.present? %>
          
          </div>
          <% end %>
          
        <ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Editar Perfil', user_edit_path(current_user), :class=> "link-home-temp" %> </li>
          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Criar Evento', new_event_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Documentos', new_material_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Palestras', new_workshop_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Quarto', new_room_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Hospedagem', new_local_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar EJS', new_ej_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Federação', new_federacao_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%> </li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
          
          <h1>Reserva de Hotel</h1>
              
          <div class="box-confirmation">
                <%= image_tag("/assets/hotel1.jpg") %>
                <div class="titulo-confirmation">
                      <h3><%= @room.local.name %></h3>
                </div>
                <div class="tags-confirmation1">
                      <h5>Número do Quarto</h5>
                      <p><%= @room.number %></p>
                </div>
                <div class="tags-confirmation2">
                      <h5>Vagas Disponíveis</h5>
                      <p><%= @room.capacity %></p>
                </div>
                <div class="tags-confirmation3">
                      <h5>Vagas Ocupadas</h5>
                      <p><%= @room.occupied %></p>
                </div>
                <%= link_to 'Cancelar reserva', cancel_reservation_path, method: :delete, :class=> "btn-confirmation" %>
                
          </div>
                  
                  
     
 
          
 
        </div>
    </section>

    <div class="clear"></div>

  <!-- Box do ranking  -->

    <section id="ranking-adm">
        <div class="box-ranking-adm">
         
         
         
          <!--<h3>Ranking das Ejs</h3>-->
          <!--<ol>-->
          <!--  <li>  IN JUNIOR   </li>-->
          <!--  <li>  EJCM   </li>-->
          <!--  <li>  P&Q ENGENHARIA   </li>-->
          <!--</ol>-->
          
        </div>
        <div class="clear"></div>
    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>


















<!--<p id="notice"><%= notice %></p>-->

<!--<p>-->
<!--  <strong>Number:</strong>-->
<!--  <%= @room.number %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Capacity:</strong>-->
<!--  <%= @room.capacity %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Occupied:</strong>-->
<!--  <%= @room.occupied %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Available:</strong>-->
<!--  <%= @room.available %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Local:</strong>-->
<!--  <%= @room.local.name %>-->
<!--</p>-->

<!--<% if current_user.room_id == @room.id %>-->
<!--  <%= link_to 'Cancelar reserva', cancel_reservation_path, method: :delete %> |-->
<!--<% end %>-->

<!--<%= link_to 'Edit', edit_room_path(@room) %> |-->
<!--<%= link_to 'Back', rooms_path %>-->
