<div class="topo-menu">
<%= form_with(model: transfer, local: true) do |form| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%>
      
      <ul>
            
            <li><%= link_to 'Transferencia', transfer_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Palestras', workshops_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking Federação', ranking_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking EJs', ranking_ejs_path, :class=> "link-home-temp"%></li>
            
      </ul>
      
</nav>

<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
        
          
       <ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>
          
          <li>  <%= link_to 'Recuperar Senha', password_recover_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Transferencias', transfers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Palestrantes', speakers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Eventos', events_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Materiais', materials_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Quartos', rooms_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Hospedagens', locals_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'EJs', ejs_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Federações', federacaos_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%></li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
          <h1>Transferencia</h1>
 
        <section class="box-transfer-edit">
          
          <div class="field-transfer">
            <!--<%= form.label :old_name %>-->
            <p>Nome Antigo:</p>
            <%= form.text_field :old_name, id: :transfer_old_name %>
          </div>
        
          <div class="field-transfer">
            <!--<%= form.label :old_cpf %>-->
            <p>Cpf Antigo :</p>
            <%= form.text_field :old_cpf, id: :transfer_old_cpf %>
          </div>
        
          <div class="field-transfer">
            <!--<%= form.label :old_email %>-->
            <p>E-mail Antigo:</p>
            <%= form.text_field :old_email, id: :transfer_old_email %>
          </div>
        
          <div class="field-transfer">
            <!--<%= form.label :old_cel %>-->
            <p>Celular Antigo: </p>
            <%= form.text_field :old_cel, id: :transfer_old_cel %>
          </div>
        
          <div class="field-transfer">
            <!--<%= form.label :user_id %>-->
            <p>Usuario: </p>
            <%= form.text_field :user_id, id: :transfer_user_id %>
          </div>
        
          <div class="field-transfer">
            <!--<%= form.label :transfer_date %>-->
            <p>Data Transferencia: </p>
            <%= form.datetime_select :transfer_date, id: :transfer_transfer_date %>
          </div>
        
          <div class="btn-transfer-edit">
            <%= form.submit %>
          </div>
        <% end %>  

          </section>
 
        </div>
    </section>

    <div class="clear"></div>


    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer-event">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>

