<%= form_for(@transfer, :url => {:action => 'choice_create'}) do |form| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
       <section id="background-page-transfer">
         <div id="container-transfer">
           
            <div class="img-cad"> 
            
              <img src="/assets/EventInB.png">
              
            </div>
  
  
                    <div class="caixa-cad">
                        <div class="col-50">
                          <i class="fa fa-user fa-2x"></i>
                          <!--Nome:-->
                          <!--<%= form.label :name %>-->
                          <%= form.text_field :name, id: :user_name, :placeholder => "Nome", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="text"  placeholder="Digite seu Nome">-->
                          </div>
                          <div class="col-50">
                          <i class="fa fa-envelope fa-2x"></i> 
                          <!--E-mail:-->
                          
                           <!--<%= form.label :Email %>-->
                           <%= form.text_field :email, id: :user_email, :placeholder => "Email", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="text" placeholder="Digite seu E-mail">-->
                          </div>
                      </div>

                      <div class="caixa-cad">
                        <div class="col-50">
                          <i class="fa fa-phone fa-2x"></i>
                          <!--Cel:-->
                          <!--<%= form.label :Cel %>-->
                          <%= form.text_field :cel, id: :user_cel, :placeholder => "Cel", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="text" placeholder="(XX) 888000888">-->
                          </div>
                          <div class="col-50">
                          <i class="fa fa-home fa-2x"></i> 
                          <!--Cep:-->
                          <!--<%= form.label :CEP %>-->
                          <%= form.text_field :cep, id: :user_cep, :placeholder => "CEP", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="number" placeholder="Digite seu CEP">-->
                          </div>
                      </div>

                      <div class="caixa-cad">
                        <div class="col-50">
                          <i class="fa fa-user fa-2x"></i>
                          <!--Nick:-->
                          
                          <!--<%= form.label :Nick %>-->
                          <%= form.text_field :nick, id: :user_nick, :placeholder => "Nick", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="text" placeholder="Digite seu Nickname">-->
                          </div>
                          <div class="col-50">
                          <i class="fa fa-address-card-o fa-2x"></i>
                          <!--CPF:-->
                          <!--<%= form.label :CPF %>-->
                          <%= form.text_field :cpf, id: :user_cpf, :placeholder => "CPF", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="number" placeholder="Digite seu CPF">-->
                          </div>
                      </div>
                      
                      <div class="caixa-cad">
                          <div class="col-50">
                          <i class="fa fa-user-o fa-2x"></i>
                          <!--<%= form.label :Pos_Junior %>-->Pós Junior :        
                          <%= form.check_box :pos_junior, id: :pos_junior, :placeholder => "Pos Junior" %>
                          </div>
                          
                          
                      </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                  
                    <div class="caixa-cad">
                      <div class="col-50">
                    <!--<%= form.label :Federacao %>-->
                    
                    <%= form.select :federacao_id, @federacaos.collect { |federacao| [federacao.name,federacao.id] }, :prompt => "Federações" %>
                    </div>
                    <div class="col-50">
                    <!--<%= form.label :Cargo_Federacao %>-->

                    <%= form.text_field :cargo_federacao, id: :user_cargo_federacao, :placeholder => "Cargo Federacao", :class=> "text-form-cad" %>  
                    </div>
                    </div>
                    
                    <div class="caixa-cad">
                    <div class="col-50">
                    <!--<%= form.label :EJ %>-->
                    <%= form.select :ej_id, @ejs.collect { |ej| [ej.name,ej.id] }, :prompt => "Empresa Junior" %>
                    </div>
                    <div class="col-50">
                    <!--<%= form.label :Cargo_EJ %>-->
                    <%= form.text_field :cargo_ej, id: :user_cargo_ej, :placeholder => "Cargo EJ", :class=> "text-form-cad" %>
                    </div>
                    </div>

                    
                      <div class="col-50">
                    <!--<%= form.label :Senha %>--><i class="fa fa-key fa-2x"></i>
                    <%= form.password_field :password, :placeholder => "Senha", :class=> "text-form-cad" %>
                     </div> 
                     <div class="col-50">
                    <!--<%= form.label :Confimar_Senha %>-->
                    <!--Confirmar Senha:-->
                    <%= form.password_field :password_confirmation, :placeholder => "Confirmar Senha", :class=> "text-form-cad" %>
                    </div>
                    
  
 <center> <h3> Confirme seus dados abaixo: </h3> </center>
  <div class="caixa-cad">
     <div class="col-50">
      <%= form.label :old_name %>
      <%= form.text_field :old_name, id: :transfer_old_name, :value => current_user.name, :class=> "text-form-cad"  %>
    </div>
  
    <div class="col-50">
      <%= form.label :old_cpf %>
      <%= form.text_field :old_cpf, id: :transfer_old_cpf, :value => current_user.cpf, :class=> "text-form-cad" %>
    </div>
  </div>
  
<div class="caixa-cad">
    <div class="col-50">
      <%= form.label :old_email %>
      <%= form.text_field :old_email, id: :transfer_old_email, :value => current_user.email, :class=> "text-form-cad" %>
    </div>
  
    <div class="col-50">
      <%= form.label :old_cel %>
      <%= form.text_field :old_cel, id: :transfer_old_cel, :value => current_user.cel, :class=> "text-form-cad" %>
    </div>
</div>

  <div class="final-cad">
    <%= form.submit %>
  </div>
<% end %>

</section>