<div class="topo-menu">
<h1>Editing Transfer</h1>
</div>
<%= render 'form', transfer: @transfer %>
<div class="topo-menu">
<%= link_to 'Show', @transfer %> |
<%= link_to 'Back', transfers_path %>
</div>