<p id="notice"><%= notice %></p>

<p>
  <strong>Old name:</strong>
  <%= @transfer.old_name %>
</p>

<p>
  <strong>Old cpf:</strong>
  <%= @transfer.old_cpf %>
</p>

<p>
  <strong>Old email:</strong>
  <%= @transfer.old_email %>
</p>

<p>
  <strong>Old cel:</strong>
  <%= @transfer.old_cel %>
</p>

<p>
  <strong>User:</strong>
  <%= @transfer.user %>
</p>

<p>
  <strong>Transfer date:</strong>
  <%= @transfer.transfer_date %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
