// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*reset*/ // --------------------------------------------------- Tela de Login e Comandos Basicos

body,h1,p{
	padding:0;
	margin:0;
}

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
}

// ------------------------------------------------------ HOME (TOPO DO SITE E FOOTER)

a.link-home-temp{
	// position:absolute;
	// left:40%;
// 	float:left;
	// border:2px solid;
	display: inline;
	color: #fff;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
// 	margin: 10px 90px;
	transition: 0.2s;
	width:100px;
	padding:5px;
	background:none;
}

a.link-home-temp:hover{
// 	color:#000;
	transition: 0.2s;
	width:100px;
	border-bottom:1px solid #fff;
}

.topo-menu {
  
  display:none;
}

.topo-menu-temp {
  
  display:none;
}

/*background da página*/

#background-page{
	background-image: url(/assets/bg-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

/*--------------------------------estilização do bloco centralizado*/ // ----- Login
#container{
	/*display: block;
	float: left;*/
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-250px;
  	margin-left:-180px;
	width: 350px;
	height: 400px;
	border:3px solid #252525;
	/*margin-left: 40%;
	margin-right: 50%;
	margin-top:115px;
	margin-bottom: 115px;*/
	border-radius:2%;
	/*background: rgb(0, 0, 0) transparent;*/
	background: rgba(37, 37, 37, 0.5);
	/* Para navegadores IE 5.5 - 7 */
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
	/* Para navegadores IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}

#container h3{
	text-align: center;
	padding:30px 0;
	font-family: helvetica,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	
}

#container form{
	text-align: center;
}

// #container form input{
// 	width: 220px;
// 	border: 3px solid #252525;
// 	background: #fff;
// 	font-size: 0.8em;
// 	font-style: italic;
// 	font-family: helvetica, sans-serif;
// 	padding: 10px;
// 	margin:10px 0;
// }

.text-form{
	width: 220px;
	border: 3px solid #252525;
	background: #fff;
	font-size: 1em;
	font-style: italic;
	font-family: helvetica, sans-serif;
	padding: 10px;
	margin: 10px 0;
}


#container img{
	width: 140px;
	height: 60px;
	display: block;
	margin: 30px 100px;
}

/*responsividade do bloco*/

/*Tablet grande e Tablet normal*/

@media(max-width: 1024px){

	#container{
		width: 500px;
		height: 550px;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-250px;
    margin-left:-275px;
	}

	.text-form{
		width: 350px;

	}

	#container img{
	width: 140px;
	height: 60px;
	display: block;
	margin: 30px 180px;
}


}

/*IPhone Plus*/

@media(max-width: 414px){

	#container{
		width: 350px;
		height: 400px;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-175px;
    margin-left:-180px;
	}

	.text-form{
		width: 230px;

	}

	#container img{
	width: 140px;
	height: 60px;
	display: block;
	margin: 30px 100px;
}


}

/*Galaxy S5 e Iphone 5*/

@media(max-width: 320px){

	#container{
		width: 300px;
		height: 450px;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-230px;
  	margin-left:-150px;
	}

	.text-form{
		width: 180px;

	}

	#container img{
	width: 140px;
	height: 60px;
	display: block;
	margin: 30px 70px;
}


}



/*Botão Entrar*/

.btn-entrar
{
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	display: block;
	margin: 20px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:95px;
  padding-right:95px;
	
}

.btn-entrar:hover{
  border:0px solid;
	background: #151515;
	transition: 0.5s;
}

#check-cad {
	
	padding-top:20px;
	padding-bottom:5px;
	
}

/*Botão Entrar com Facebook*/

// a.btn2{
// 	text-decoration: none;
// 	text-transform: uppercase;
// 	text-align: center;
// 	font-family: helvetica,sans-serif;
// 	font-size: 0.8em;
// 	font-weight: bold;
// 	color: #fff;
// 	background: #313CAF;
// 	display: block;
// 	margin: 20px 55px;
// 	padding: 5px 0;
// 	transition: 0.5s;
	

// }

// a.btn2:hover{
// 	background: #0C1FAF;
// 	transition: 0.5s;
// }

/*Botões de link*/

a.link{
	display: block;
	color: #fff;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px 90px;
	transition: 0.2s;
}

a.link:hover{
// 	color:#000;
	transition: 0.2s;
}

/*ajuste dos ícones*/

// .fonte{
// 	float: left;
// 	margin-left: 10px;
// 	margin-top: 15px;
// 	padding-bottom: 12px;
// }
.bloco{
// 	float: right;
//  padding-right: 50px;
  color:#fff;

}

/*classe clear para limpeza*/
// .clear{
// 	clear: both;
// }

//------------------------------------------------- Cadastro ----------------------------------------

#backgroundpage {
	width:100%;
	height:100vh;
	
}

#container-cad {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-310px;
  margin-left:-350px;
	width: 700px;
	height: 580px;
	border:3px solid #252525;
	border-radius:2%;
	background: rgba(37, 37, 37, 0.5);
	padding:20px;
	color:#fff;
}

.img-cad img {
	width: 140px;
	display: block;
	margin: 30px 290px;
}

.caixa-cad {
	
	clear:both;
	position:relative;
	
}

.col-50 {
	
	float:left;
	width:50%;
	
}

.text-form-cad{
	width: 70%;
	border: 3px solid #252525;
	background: #fff;
	font-size: 0.8em;
	font-style: italic;
	font-family: helvetica, sans-serif;
	padding: 10px;
	margin: 10px 0;
}

.caixa-cad select{
	width: 85%;
	background: #252525;
	color: #fff;
	height: 35px;
	margin-top:15px;
}

.btn-cad
{
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	margin: 20px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:95px;
  	padding-right:95px;
	
}

.btn-cad:hover{
  border:0px solid;
	background: #151515;
	transition: 0.5s;
}

.final-cad {
	text-align:center;
	
}



// --------------------------------------------------------------- -Tela Administrador

#background-page-adm{
	background: url(/assets/bg-azul.jpg) center center ;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
	height: auto;
	padding-top: 100px;

}
/*Menu de Navegação*/

.menu-nav img{
	float:left;
	width: 130px;
	height: 60px;
/*	padding: 10px 110px;*/
	padding-right: 350px;
	padding-left: 130px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.menu-nav {
	position:fixed; 
	float:right;
	width:100%;
	background: #fff;
	border-bottom:2px solid;
}

.menu-nav ul {

	max-width:100%;
	padding:15px;

}

/*.menu-nav ul{
	margin-top: 50px;
	padding-left: 500px;
}*/

.menu-nav ul li{
	display: inline-block;


}

.menu-nav ul li a{
/*	margin: 0 20px;*/
	font-size: 0.9em;
	font-family: helvetica,sans-serif;
	font-weight: bold;
	color: #252525;
	
	padding-left: 10px;
	padding-right: 10px;
	text-decoration:none;
	transition: 0.5s;
}

.menu-nav ul li a:hover{
	background:none;
	border-bottom:1px solid #252525;
	
	color:#252525;
	transition: 0.5s;
}

/*Menu*/

#menu{
	display: block;
	width: auto;
/*	height: 80px;*/
	background: #fff;
/*	border-bottom: 1px solid #252525;*/
	
}

/*Box do administrador*/

.box-adm{
	width: 345px;
	max-height: auto;
	float: left;
/*	position:absolute;*/
	border-radius:2%;
	margin: 20px 20px;
	/*background: rgb(0, 0, 0) transparent;*/
	background: rgba(37, 37, 37, 0.7);
	/* Para navegadores IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
	/* Para navegadores IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}



.foto-user{
	width: 150px;
	height: 150px;
	padding-left:25px;
	padding-bottom:30px;
}

.foto-user img{
	width: 150px;
	height: 150px;
	margin: 20px 75px;
	border-radius: 50%;
	border: 1px solid #fff;
}

.box-adm ul{	
/*	display: block;*/
	padding: 0 90px;
	list-style: none;
}

.box-adm ul li{
	text-align: center;
	padding: 5px 0;
}

.link-menu{
	// position:absolute;
	// left:40%;
	// 	float:left;
	border:2px solid;
	display: inline;
	color: #fff;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	// 	margin: 10px 90px;
	transition: 0.2s;
	width:100px;
	padding:5px;
}

.link-menu:hover{
// 	color:#000;
	transition: 0.2s;
	width:100px;
	color:#fff;
}

a.link-adm{
	// position:absolute;
	// left:40%;
// 	float:left;
	border:2px solid;
	display: inline;
	color: #000;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
// 	margin: 10px 90px;
	transition: 0.2s;
	width:100px;
	padding:5px;
	padding-left:18px;
	padding-right:18px;
}

a.link-adm:hover{
// 	color:#000;
	transition: 0.2s;
	width:100px;
	color:#fff;
}

// .link-menu{
// 	text-decoration: none;
// 	font-family: helvetica,sans-serif;
// 	font-weight: bold;
// 	color: #fff;
// 	transition: 0.2s;
// }

// .link-menu:hover{
// 	// border-bottom: 1px solid #fff;
// }

/*Box do Ranking do Administrador*/

.box-ranking-adm{
	width: 345px;
	height: auto;
	float: left;
	margin-top: -75px;
/*	position:absolute;*/
	border-radius:2%;
	margin-left:20px;
/*	margin: 340px 20px;*/
	/*background: rgb(0, 0, 0) transparent;*/
	background: rgba(37, 37, 37, 0.7);
	/* Para navegadores IE 5.5 - 7 */
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
	/* Para navegadores IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}

.box-ranking-adm h3{
	text-align: center;
	font-weight: bold;
	font-family: helvetica, sans-serif;
	color: #fff;
	font-size: 1.5em;
}

.box-ranking-adm ul{
	text-align: center;
	font-weight: bold;
	font-family: helvetica, sans-serif;
	color: #fff;
	list-style:none;
	margin-left:-30px;

}

/*Box Principal do Administrador*/

.box-principal-adm{
	width: 63%;
	height: 500px;
	float: right;
	margin-top:20px;
/*	position:absolute;*/
	border-radius:2%;
	/*margin: 20px 350px;*/
	/*background: rgb(0, 0, 0) transparent;*/
	background: rgba(37, 37, 37, 0.7);
	/* Para navegadores IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
	/* Para navegadores IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
    margin-right:70px;
}

.box-principal-adm h1{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	font-size: 3em;
	font-weight: bold;
	margin: 40px 0;
}

.box-principal-adm h2{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	font-size: 2em;
	font-weight: bold;
	margin: 40px 0;
}

.box-principal-adm h3{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	font-size: 2em;
	font-weight: bold;
	margin: 40px 0;
}

.countdown{
	border:1px solid #fff;
	height:250px;
	width:600px;
	margin: 0 auto;
	background: rgba(37, 37, 37, 0.7);
	border-radius:2%;
}

#demo{
	text-align: center;
  font-size: 40px;
  color:#fff;

}


/*Footer*/

#footer{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:320px; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

/*Limpar*/

.clear{
	clear: both;
}


// ------------------------------------ PÁGINA DOS HOTÉIS ( LOCALS/CHOICE ) ------------------------------------

.box-hoteis{
	width: 300px;
	height: 400px;
	float: left;
	// position:absolute;
	border-radius:2%;
	/*margin: 20px 20px;*/
	margin-right:20px;
	margin-left:60px;
	/*background: rgb(0, 0, 0) transparent;*/
	background: rgba(37, 37, 37, 0.7);
	/* Para navegadores IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
	/* Para navegadores IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}



.box-hoteis img{
	width:200px;
	height:200px;
	padding-left:0px;
	padding-top:20px;
}

.box-hoteis h3{
	color:#fff;
	text-align:center;
	
}

.box-hoteis{
	color:#fff;
	text-align:center;
}

a.btn-hotel{
	text-decoration:none;
	border:1px solid #252525;
	padding:5px 40px;
	background: #fff;
	color:#252525;
}

.titulo{
	margin-bottom:20px;
}

// ------------------------------------ PÁGINA DOS QUARTOS ( ROOMS/CHOICE ) ------------------------------------

.box-quartos{
	width: 500px;
	height: 400px;
	float: left;
	// position:absolute;
	border-radius:2%;
	/*margin: 20px 20px;*/
	margin-top:-2%;
	margin-left: 20%;
	margin-right:20%;
	/*background: rgb(0, 0, 0) transparent;*/
	background: rgba(37, 37, 37, 0.7);
	/* Para navegadores IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
	/* Para navegadores IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}

.lista{
	display:inline-flex;
	padding-left:13%;
}

.lista h5{
	color:#fff;
	margin-right:10px;
	text-align:center;
}

.nome-hotel{
	text-align:center;
	color:#fff;
}

.info-quartos {
	display:inline-flex;
	padding-left:13%;
}

.info-quartos{
	color:#fff;
	margin-left:50px;
	text-align:center;
}

.info-quartos p{
	margin-right:63px;
}

.btn-quartos{
	text-decoration:none;
	background:#fff;
	color:#252525;
	padding:5px 15px;
}

// --------------------------------- Eventos ----------------------

#footer-event{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:auto; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer-event p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

.desc-event {
	width:400px;
	margin:0 auto;

}

.desc-event h3 {
	
	font-size: 1.125em;
	margin-top: -20px;
}

.desc-event h3 {
	text-align:center;
	font-family: helvetica,sans-serif;
	font-size:1.125em;
	color:#fff;
	
}
.btn-event {
	
	padding-left:380px;
	padding-top:10px;
	
}

 // --------------------------------------------- Event Edit ----------------------
 
.box-event-edit {
	
	width:700px;
	margin: 0 auto;
	
}

 .field-event {
	float:left;
 	width:50%;

 }
 
 .field-event p {
 	
 	text-align:left;
 	font-size:1em;
 	color:#fff;
 	padding-bottom:10px;
 	padding-top:10px;
 	
 }
 
  .field-event select {
  	
	background: #252525;
	color: #fff;
	padding:2px;
 	
 }
 
 .btn-event-edit input {
 	
 	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	margin: 20px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:30px;
  	padding-right:30px;
	
}

 .btn-event-edit input:hover{
  border:0px solid;
	background: #151515;
	transition: 0.5s;
}

// --------------------------------------------------- Materials ---------------

#footer-materials{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:auto; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer-materials p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

.desc-materials {
	width:400px;
	margin:0 auto;

}

.desc-materials h3 {
	text-align:center;
	font-family: helvetica,sans-serif;
	font-size:1.125em;
	color:#fff;
	
}
.btn-materials {
	
	padding-left:350px;
	padding-top:10px;
	
}



// ------------------------------------------------- Edit Materials -----------

.box-materials-edit {
	
	width:700px;
	margin: 0 auto;
	
}

 .field-materials {
	float:left;
 	width:50%;

 }
 
 .field-materials p {
 	
 	text-align:left;
 	font-size:1em;
 	color:#fff;
 	padding-bottom:10px;
 	padding-top:10px;
 	
 }
 
  .field-materials-file input {
  	
	background: #252525;
	color: #fff;
	padding:5px;
 	
 }
  .field-materials-file p {
  	
  	text-align:left;
 	font-size:1em;
 	color:#fff;
 	padding-bottom:10px;
 	padding-top:10px;
  	
  }
  
   .btn-materials-edit input {
 	
 	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	margin: 20px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:30px;
  	padding-right:30px;
	
}

 .btn-materials-edit input:hover{
  border:0px solid;
	background: #151515;
	transition: 0.5s;
}

// --------------------------------------------------------- ROOM --------------------

#footer-room{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:auto; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer-room p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

.desc-room {
	width:400px;
	margin:0 auto;
	float:left;

}

.desc-room h3 {
	text-align:center;
	font-family: helvetica,sans-serif;
	font-size:1.125em;
	color:#fff;
	
}
.btn-room {
	
	padding-left:150px;
	padding-top:5px;
	
}


// ------------------------------------------ ROOMS EDIT ---------------------------

.box-rooms-edit {
	
	width:700px;
	margin: 0 auto;
	
}

 .field-rooms {
	float:left;
 	width:50%;

 }
 
 .field-rooms p {
 	
 	text-align:left;
 	font-size:1em;
 	color:#fff;
 	padding-bottom:10px;
 	padding-top:10px;
 	
 }
 
 
 .btn-rooms-edit input {
 	
 	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	margin: 20px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:30px;
  	padding-right:30px;
	
}

 .btn-rooms-edit input:hover{
  border:0px solid;
	background: #151515;
	transition: 0.5s;
}


// --------------------------------------------------- Locals -------------------------

#footer-locals{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:auto; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer-locals p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

.desc-locals {
	width:400px;
	margin:0 auto;
	float:left;

}

.desc-locals h3 {
	text-align:center;
	font-family: helvetica,sans-serif;
	font-size:1.125em;
	color:#fff;
	
}
.btn-locals {
	
	padding-left:150px;
	padding-top:5px;
	
}

// ---------------------------------------------- Locals Edit -------------------------

.box-locals-edit {
	
	width:700px;
	margin: 0 auto;
	
}

 .field-locals {
	float:left;
 	width:50%;

 }
 
 .field-locals p {
 	
 	text-align:left;
 	font-size:1em;
 	color:#fff;
 	padding-bottom:10px;
 	padding-top:10px;
 	
 }
 
 
 .btn-locals-edit input {
 	
 	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	margin: 20px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:30px;
  	padding-right:30px;
	
}

 .btn-locals-edit input:hover{
  border:0px solid;
	background: #151515;
	transition: 0.5s;
}


// ---------------------------------------------------------- Federação---------

#footer-federacaos{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:auto; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer-federacaos p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

.desc-federacaos {
	width:400px;
	margin:0 auto;
	float:left;

}

.desc-federacaos h3 {
	text-align:center;
	font-family: helvetica,sans-serif;
	font-size:1.125em;
	color:#fff;
	
}
.btn-federacaos {
	
	padding-left: 10px;
	padding-top: 5px;
	
}

// --------------------------------------------- federacaos edit -----------------

.box-federacaos-edit {
	
	width:700px;
	margin: 0 auto;
	
}

 .field-federacaos {
	float:left;
 	width:50%;

 }
 
 .field-federacaos p {
 	
 	text-align:left;
 	font-size:1em;
 	color:#fff;
 	padding-bottom:10px;
 	padding-top:10px;
 	
 }
 
 
 .btn-federacaos-edit input {
 	
 	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	margin: 20px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:30px;
  	padding-right:30px;
	
}

 .btn-federacaos-edit input:hover{
  border:0px solid;
	background: #151515;
	transition: 0.5s;
}


// ---------------------------------------------- Usuarios --------------------

#footer-users{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:auto; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer-users p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

.desc-users {
	width:800px;
	margin:0 auto;
	float:left;

}

.desc-users h3 {
	text-align:center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	color:#fff;
	margin:20px;
	
}
.btn-users {
	margin-left:350px;
	padding-top: 5px;
	margin-top:-25px;
	
}

.pag-users {
	
	
	color:#fff;
	
}


// ----------------------------------------------------------- EJS ----------

#footer-ejs{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:auto; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer-ejs p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

.desc-ejs {
	width:400px;
	margin:0 auto;
	float:left;

}

.desc-ejs h3 {
	text-align:center;
	font-family: helvetica,sans-serif;
	font-size:1.125em;
	color:#fff;
	
}
.btn-ejs {
	
	padding-left: 145px;
	padding-top: 5px;
	
}

// ---------------------------------------- EDIT EJS ---------------------------

.box-ejs-edit {
	
	width:700px;
	margin: 0 auto;
	
}

 .field-ejs {
	float:left;
 	width:50%;

 }
 
 .field-ejs p {
 	
 	text-align:left;
 	font-size:1em;
 	color:#fff;
 	padding-bottom:10px;
 	padding-top:10px;
 	
 }
 
 
 .btn-ejs-edit input {
 	
 	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	margin: 20px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:30px;
  	padding-right:30px;
	
}

 .btn-ejs-edit input:hover{
  border:0px solid;
	background: #151515;
	transition: 0.5s;
}



// ----------------------------------------------------- Workshops -----------------

#footer-workshops{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:auto; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer-workshops p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

.desc-workshops {
	width:410px;
	margin:0 auto;
	float:left;

}

.desc-workshops h3 {
	text-align:center;
	font-family: helvetica,sans-serif;
	font-size:1.125em;
	color:#fff;
	
}
.btn-workshops {
	
	padding-left: 150px;
	padding-top: 5px;
	
	
}

a.link-workshop{

	color: #fff;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.2s;
	padding:5px;
	background:none;
}


// ---------------------------------------- EDIT WORKSHOPS --------------------


.box-workshops-edit {
	
	width:700px;
	margin: 0 auto;
	
}

 .field-workshops {
	float:left;
 	width:50%;
 

 }
 
 .field-workshops p {
 	
 	text-align:left;
 	font-size:1em;
 	color:#fff;
 	padding-top:5px;
 	padding-left:5px;
 	
 	
 }
 
 .field-workshops select {
  	
	background: #252525;
	color: #fff;
	padding:2px;
 	
 }
 
.field-workshops-palestrantes p {
	
	text-align:left;
 	font-size:1em;
 	color:#fff;
	margin-top:-50px;
	
}
 .field-workshops-palestrantes {
	float:left;
 	width:50%;
 

 }
 
.field-ejs select {
  	
	background: #252525;
	color: #fff;
	padding:2px;
 	
 }
 
 
 .btn-workshops-edit input {
 	
 	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	margin: 20px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:30px;
  	padding-right:30px;
	
}

 .btn-workshops-edit input:hover{
  	border:0px solid;
	background: #151515;
	transition: 0.5s;
}

// ----------------------------------------- SPEAKERS -----------------------

#footer-speakers{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:auto; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer-speakers p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

.desc-speakers {
	width:400px;
	margin:0 auto;

}

.desc-speakers h3 {
	
	font-size: 1.125em;
	margin-top: -20px;
}

.desc-speakers h3 {
	text-align:center;
	font-family: helvetica,sans-serif;
	font-size:1.125em;
	color:#fff;
	
}
.btn-speakers {
	
	padding-left:145px;
	padding-top:10px;
	margin-top: -30px;
	
}



// --------------------------------------- SPEAKERS EDIT -------------------------------

.box-speakers-edit {
	
	width:500px;
	margin: 0 auto;
	
}

 .field-speakers {
 	font-size:1em;
 	color:#fff;
	display:block;
	width:400px;
	margin:8px 0px;
 }
 
 .field-speakers label{
 	display:block;
 	width:90px;
 	float:left;
 	padding:0 auto;
 }
 
 .field-speakers input{
 	display:block;
 	max-width:300px;
 	min-width:150px;
 	
 }
 
 .field-speakers-file input {
  	
	background: #252525;
	color: #fff;
	padding:10px;
	margin-top:10px;
	margin-left:12px;
 	
 }
 
 .field-speakers-file {
 	
 	color:#fff;
 	width:350px;
 	margin:0 auto;
 	
 }
 
  .field-speakers-senha {
	
 	width:50%;
 	font-size:1em;
 	color:#fff;

 }
 
 .text-form-spk {
	width: 70%;
	border: 3px solid #252525;
	background: #fff;
	font-size: 0.9em;
	font-style: italic;
	font-family: helvetica, sans-serif;
	padding:10px;

}
 
 .btn-speakers-edit input {
 	
 	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	margin: 10px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:30px;
  	padding-right:30px;
  	margin-left:160px;
	
}

 .btn-speakers-edit input:hover{
  	border:0px solid;
	background: #151515;
	transition: 0.5s;
}

.box-spk {
	
	width:900px;
	height:500px;
	background:(37,37,37,0.7);
	
}

// ----------------------------------- Transfer -----------------------------

#footer-transfer{
/*	display: block;*/
	width: auto;
/*	height: 80px;*/
/*	margin: 550px 0;*/
	padding: 10px;
	margin-top:auto; 
	background: #000;
	border-top: 1px solid #252525;
}

#footer-transfer p{
	text-align: center;
	color: #fff;
	font-family: helvetica,sans-serif;
	margin: 10px 0;
}

.desc-transfer {
	margin-top:50px;
	width:300px;
	margin:0 auto;
	float:left;

}

.desc-transfer h3 {
	text-align:center;
	font-family: helvetica,sans-serif;
	font-size:1.125em;
	color:#fff;
	font-size: 1.125em;
	margin-top: -20px;
	
}
.btn-transfer {
	
	padding-left:80px;
	padding-top:10px;
	
}

.box-transfer {
	
	margin-bottom:100px;
	width:650px;
	
}

// ---------------------------------------------- Transfer EDIT -----------------

.box-transfer-edit {
	
	width:700px;
	margin: 0 auto;
	
}

 .field-transfer {
	float:left;
 	width:50%;

 }
 
 .field-transfer p {
 	
 	text-align:left;
 	font-size:1em;
 	color:#fff;
 	padding-bottom:10px;
 	padding-top:10px;
 	
 }
 
  .field-transfer select {
  	
	background: #252525;
	color: #fff;
	padding:2px;
 	
 }
 
 .btn-transfer-edit input {
 	
 	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #252525;
	margin: 20px 55px;
	padding: 5px 0;
	transition: 0.5s;
	border:0px solid;
	padding-left:30px;
  	padding-right:30px;
  	margin-left:200px;
	
}

 .btn-transfer-edit input:hover{
  border:0px solid;
	background: #151515;
	transition: 0.5s;
}

// -----------------------------------TRANSFER CHOICE --------------------

#container-transfer {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-310px;
  margin-left:-350px;
	width: 700px;
	height: 680px;
	border:3px solid #252525;
	border-radius:2%;
	background: rgba(37, 37, 37, 0.5);
	padding:20px;
	color:#fff;
}

#background-page-transfer{
	background-image: url(/assets/bg-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 800px;
}


// ---------------------------------PAGINA DE CONFIRMAÇÃO DE RESERVA

.box-confirmation{
	width: 500px;
	height: 400px;
	float: left;
	// position:absolute;
	border-radius:2%;
	/*margin: 20px 20px;*/
	margin-top:-2%;
	margin-left: 20%;
	margin-right:20%;
	/*background: rgb(0, 0, 0) transparent;*/
	background: rgba(37, 37, 37, 0.7);
	/* Para navegadores IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
	/* Para navegadores IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}

.box-confirmation img{
	width: 200px;
	height: 150px;
	padding: 10px 150px;
}

.titulo-confirmation{
	text-align:center;
	color:#fff;
}


.tags-confirmation1{
	display:block;
	float:left;
	text-align:center;
	color:#fff;
	margin-left:40px;
	margin-right:40px;
	margin-bottom:20px;
}

.tags-confirmation2{
	display:block;
	float:left;
	text-align:center;
	color:#fff;
	margin-bottom:20px;
}

.tags-confirmation3{
	display:block;
	float:right;
	text-align:center;
	color:#fff;
	margin-right:40px;
	margin-bottom:20px;
}

.btn-confirmation{
	text-decoration:none;
	background:#fff;
	color:#252525;
	padding:5px 30px;
	display:block;
	float:left;
	margin-left:170px;
}

// -------------------------------- PÁGINA RANKING DE FEDERAÇÕES ------------------------------

.box-ranking-fed{
		width: 500px;
		height:400px;
		float: left;
		// position:absolute;
		border-radius:2%;
		/*margin: 20px 20px;*/
		margin-top:-2%;
		margin-left: 20%;
		margin-right:20%;
		/*background: rgb(0, 0, 0) transparent;*/
		background: rgba(37, 37, 37, 0.7);
		/* Para navegadores IE 5.5 - 7 */
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
		/* Para navegadores IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}

.menu-ranking-fed{
		display:block;
		margin-left:-30%;
		
}

.menu-ranking-fed p{
		color:#fff;
		text-align:center;
		padding-right:20px;
		
}

.menu-ranking-fed2{
		float:right;
		display:block;
		margin-left:30%;
		margin-top:-27%;
		margin-right:20%;
		
}

.menu-ranking-fed2 p{
		color:#fff;
		text-align:center;
		padding-right:20px;
		
}



// -------------------------------- PÁGINA RANKING DE EJS ------------------------------

.box-ranking-ej{
		width: 500px;
		height:400px;
		float: left;
		// position:absolute;
		border-radius:2%;
		/*margin: 20px 20px;*/
		margin-top:-2%;
		margin-left: 20%;
		margin-right:20%;
		/*background: rgb(0, 0, 0) transparent;*/
		background: rgba(37, 37, 37, 0.7);
		/* Para navegadores IE 5.5 - 7 */
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
		/* Para navegadores IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}

.menu-ranking-ej{
		display:inline-flex;
		margin-left:20%;
		
}

.menu-ranking-ej h3{
		color:#fff;
		text-align:center;
		padding-right:20px;
		
}

.nome-ej{
	display:block;
	color:#fff;
	margin-left:33%;
}

.nome-fed{
	display:inline-flex;
	color:#fff;
	margin-left:23%;
	float:left;
	margin-top:20px;
}

.nome-fed p{
	margin-right:40px;
}

.numero-ej{
	display:block;
	color:#fff;
	float:right;
	margin-right:40%;
	margin-top:-4%;
}

.numero{
	margin-right:30px;
}


// ------------------------------------- Workshops/choice ----------------------

.box-workshops{
		width: 370px;
		height:400px;
		float: left;
		// position:absolute;
		border-radius:2%;
		/*margin: 20px 20px;*/
		margin-top:0%;
		margin-left: 20px;
		margin-right:20px;
		/*background: rgb(0, 0, 0) transparent;*/
		background: rgba(37, 37, 37, 0.7);
		/* Para navegadores IE 5.5 - 7 */
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
		/* Para navegadores IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}

.titulo{
	color:#fff;
	text-align:center;
	font-weight:bold;
	font-size:1.225em;
	margin-top:10px;
}

.tags{
	margin-top:10px;
	font-size:1em;
	color:#fff;
	text-align:center;
	font-weight:bold;
}

.campos{
	font-size:0.8em;
	color:#fff;
	text-align:center;
}

.btn-ins{
	margin-top:30px;
	font-size:1em;
	color:#fff;
	text-align:center;
	font-weight:bold;
	display:inline;
	margin-left:100px;
}



.inscricao{
	float:left;
	margin:0 200px;
	width:50px;
	height:20px;
	margin-top:-15px;
}

.btn-show{
	text-decoration:none;
	background:#fff;
	color:#252525;
	padding:5px 60px;
	float:left;
	margin:0 100px;
	width:50px;
	height:20px;
	margin-top:20px;
	text-align:center;
}

// ---------------------------------- Página  workshops/show -----------------------

.box-details{
		width: 370px;
		height:400px;
		float: left;
		// position:absolute;
		border-radius:2%;
		/*margin: 20px 20px;*/
		margin-top:-10px;
		margin-left: 250px;
		margin-right:20px;
		/*background: rgb(0, 0, 0) transparent;*/
		background: rgba(37, 37, 37, 0.7);
		/* Para navegadores IE 5.5 - 7 */
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
		/* Para navegadores IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}

// .materiais{
// 	display:inline-flex;
// 	color:#fff;
// 	margin-top:20px;
// 	margin-left:160px;
// }

.materiais-titulo{
	float:left;
	display:block;
	color:#fff;
	margin-left:115px;
	
}

.materiais-descricao{
	float:right;
	color:#fff;
	margin-right:125px;
}

.arq{
	float:left;
	display:block;
	color:#fff;
	margin:10px 110px;
	
}

.desc{
	float:right;
	color:#fff;
	margin:10px 100px;
	margin-top:-27px;
}

.btn-materiais{
	display:flex;
	color:#fff;
	float:left;
	margin-top:100px;
	text-decoration:none;
}

.btn-detalhes{
	margin-left:70px;
	margin-right:80px;
	text-decoration:none;
	background:#fff;
	color:#252525;
	padding:5px 30px;
}



// --------------------------Materials/Choice -------------------------

.baixar{
	text-decoration:none;
	margin-top:40px;
	margin-bottom:40px;
	margin-left:140px;
	color:#fff;
	
}



.btn-materials1{
	margin-left:145px;
	background:#fff;
	color:#252525;
	padding:5px 30px;
	text-decoration:none;
}