<%= form_for :session do |f| %>

<section id="background-page">
          <div id="container">
              
              <img src="/assets/EventInB.png">
              <form>

                  
                    <center>
                    <div class="bloco">
                      <i class="fa fa-envelope fa-2x"></i> <%= f.text_field :email, :class=> "text-form", :placeholder=> "Digite o seu E-mail" %><br />
                    </div>

                    <div class="bloco">
                    <i class="fa fa-key fa-2x"></i> <%= f.password_field :password, :class=> "text-form", :placeholder=> "Digite a sua Senha" %><br />
                    </div></center>
                  
              </form>

              <div class="clear"></div>
                <div class="entrar">
                
               
                
                <center>
                <%= f.submit "Entrar", :class=> "btn-entrar" %>
                <% end %>
                <%= link_to 'Esqueci minha senha!',password_recover_path, :class=> "link-home-temp" %>
                <% if DateTime.now > @event.begin_time && DateTime.now < @event.finish_time && @event.occupied < @event.capacity %>
                  <br><%= link_to 'Inscreva-se', user_new_path, :class => "link-home-temp" %>
                <% end %>
                </center>
                </div>

          </div>
    </section>