
<%= form_with(model: event, local: true) do |form| %>
<div class="topo-menu">
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>


<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%>
      
      <ul>
            
            <li><%= link_to 'Transferencia', transfer_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Palestras', workshops_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking Federação', ranking_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking EJs', ranking_ejs_path, :class=> "link-home-temp"%></li>
            
      </ul>
      
</nav>

<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
        
          
<ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Recuperar Senha', password_recover_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Transferencias', transfers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Palestrantes', speakers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Eventos', events_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Materiais', materials_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Quartos', rooms_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Hospedagens', locals_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'EJs', ejs_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Federações', federacaos_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%></li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
          <h1>Eventos</h1>
          
          <h2>
            <%= current_user.name %>
          </h2>
 
        <section class="box-event-edit">
          
            <div class="field-event">
              <!--<%= form.label :begin_time %>-->
             <p>Inicio das Inscrições</p><%= form.datetime_select :begin_time, id: :event_begin_time, :class=> "text-form-cad" %>

              <!--<%= form.label :finish_time %>-->
              <p>Fim das Inscrições</p><%= form.datetime_select :finish_time, id: :event_finish_time, :class=> "text-form-cad" %>
            </div>
          
            <div class="field-event">
              <!--<%= form.label :begin_event_time %>-->
              <p>Inicio do Evento</p><%= form.datetime_select :begin_event_time, id: :event_begin_event_time, :class=> "text-form-cad" %>

              <!--<%= form.label :finish_event_time %>-->
              <p>Fim do Evento</p><%= form.datetime_select :finish_event_time, id: :event_finish_event_time, :class=> "text-form-cad" %>
            </div>
          
            <div class="field-event">
              <!--<%= form.label :capacity %>-->
              <p>Capacidade</p><%= form.number_field :capacity, id: :event_capacity, :class=> "text-form-cad" %>

              <!--<%= form.label :occupied %>-->
              <p>Vagas ocupadas</p><%= form.number_field :occupied, id: :event_occupied, :class=> "text-form-cad" %>
            </div>
          
            <div class="field-event">
              <!--<%= form.label :local %>-->
              <p>Locais</p><%= form.text_field :local, id: :event_local, :class=> "text-form-cad" %>
            </div>
          
            <div class="btn-event-edit">
              <%= form.submit %>
            </div>
          <% end %>

          </section>
 
        </div>
    </section>

    <div class="clear"></div>


    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer-event">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>
