<p id="notice"><%= notice %></p>

<p>
  <strong>Inicio das Inscrições:</strong>
  <%= @event.begin_time %>
</p>

<p>
  <strong>Fim das Inscrições:</strong>
  <%= @event.finish_time %>
</p>

<p>
  <strong>Inicio do evento:</strong>
  <%= @event.begin_event_time %>
</p>

<p>
  <strong>Fim do Evento:</strong>
  <%= @event.finish_event_time %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @event.capacity %>
</p>

<p>
  <strong>Vagas ocupadas:</strong>
  <%= @event.occupied %>
</p>

<p>
  <strong>Local:</strong>
  <%= @event.local %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
