<div class="topo-menu">
<h1>Editing Federacao</h1>
</div>
<%= render 'form', federacao: @federacao %>
<div class="topo-menu">
<%= link_to 'Show', @federacao %> |
<%= link_to 'Back', federacaos_path %>
</div>