<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @federacao.name %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @federacao.estado %>
</p>

<%= link_to 'Edit', edit_federacao_path(@federacao) %> |
<%= link_to 'Back', federacaos_path %>
