<div class="topo-menu">
<%= form_with(model: workshop, local: true) do |form| %>
  <% if workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%><!--<img src="/assets/EventIn.png">-->

      <ul>
            
            <li>  <%= link_to 'Evento', events_path, :class=> "link-home-temp"%>   </li>
            <li>  <%= link_to 'Downloads', materials_path, :class=> "link-home-temp"%>   </li>
            <li>  <%= link_to 'Palestras', workshops_path, :class=> "link-home-temp"%>   </li>
           
            <li>  <%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%>   </li>
            <li>  <%= link_to 'EJS', ejs_path, :class=> "link-home-temp"%>   </li>
            <li>  <%= link_to 'Federações', federacaos_path, :class=> "link-home-temp"%>   </li>
      </ul>
      
</nav>

<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
        
          
        <ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>

          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Criar Evento', new_event_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Documentos', new_material_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Palestras', new_workshop_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Quarto', new_room_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Hospedagem', new_local_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar EJS', new_ej_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Federação', new_federacao_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%> </li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
          <h1>Palestras</h1>
          
          <h2>
            <%= current_user.name %>
          </h2>
 
        <section class="box-workshops-edit">


            <div class="field-workshops">
              <!--<%= form.label :title %>-->
              <p>Titulo : </p>
              <%= form.text_field :title, id: :workshop_title, :class=> "text-form-cad" %>
            </div>
          
            <div class="field-workshops">
              <!--<%= form.label :description %>-->
              <p>Descrição : </p>
              <%= form.text_area :description, id: :workshop_description, :class=> "text-form-cad" %>
            </div>
          
            <div class="field-workshops">
              <!--<%= form.label :begin_time %>-->
              <p>Inicio do Tempo : </p>
              <%= form.datetime_select :begin_time, id: :workshop_begin_time, :class=> "text-form-cad" %>
            </div>
          
            <div class="field-workshops">
              <!--<%= form.label :finish_time %>-->
              <p>Fim do Tempo : </p>
              <%= form.datetime_select :finish_time, id: :workshop_finish_time, :class=> "text-form-cad" %>
            </div>
          
            <div class="field-workshops">
              <!--<%= form.label :capacity %>-->
              <p>Capacidade : </p>
              <%= form.number_field :capacity, id: :workshop_capacity, :class=> "text-form-cad" %>
            </div>
          
            <div class="field-workshops">
              <!--<%= form.label :available %>-->
              <p>Disponivel : </p>
              <%= form.check_box :available, id: :workshop_available, :class=> "text-form-cad" %>
            </div>
          
            <div class="field-workshops">
              <!--<%= form.label :local %>-->
              <p>Local : </p>
              <%= form.text_field :local, id: :workshop_local, :class=> "text-form-cad" %>
            </div>
          
            <div class="field-workshops-palestrantes">
              <!--<%= form.label :speaker_id %>-->
              <p>Palestrantes : </p>
              <%= form.text_field :speaker_id, id: :workshop_speaker_id, :class=> "text-form-cad" %>
            </div>
          
            <div class="btn-workshops-edit">
              <%= form.submit %>
            </div>
          <% end %>


          </section>
 
        </div>
    </section>

    <div class="clear"></div>


    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer-workshops">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>

