<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%>
      
      <ul>
            
            <li><%= link_to 'Transferencia', transfers_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Palestras', workshops_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking Federação', ranking_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking EJs', ranking_ejs_path, :class=> "link-home-temp"%></li>
            
      </ul>
      
</nav>

<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
          
          <% if !current_user.admin %>
          <div class="foto-user">
            
          <%= image_tag(current_user.profile_photo_url)  if current_user.profile_photo.present? %>
          
          </div>
          <% end %>
          
         <ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Recuperar Senha', password_recover_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Editar Perfil', user_edit_path(current_user), :class=> "link-home-temp" %> </li>
          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Transferencias', transfers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Palestrantes', speakers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Eventos', events_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Materiais', materials_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Quartos', rooms_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Hospedagens', locals_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'EJs', ejs_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Federações', federacaos_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%></li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
            <h1>Workshops</h1>
            <% @workshops.each do |workshop| %>
            <div class="box-workshops">
                <p class="titulo"><%= workshop.title %></p>
                <p class="tags">Palestrante</p>
                <p class="campos"><%= Speaker.find_by_id(workshop.speaker_id).name %></p>
                <p class="tags">Descrição</p>
                <p class="campos"><%= workshop.description %></p>
                <p class="tags">Horário</p>
                <p class="campos"><%= workshop.begin_time %> ás <%= workshop.finish_time %></p>
                <p class="tags">Capacidade   Ocupação</p>
                <p class="campos"><%= workshop.capacity %>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <%= workshop.occupied %></p>
                <p class="tags">Local</p>
                <p class="campos"><%= workshop.local %></p>
                <p class="btn-ins">Inscrever-se &nbsp; <input class="inscricao" type="checkbox" value= "<%= workshop.id %>" <%= 'checked' if inscritoNaPalestra(current_user, workshop)%> ></p>
                <%= link_to 'VER', workshop, :class=> "btn-show"%>
            </div>
            
            <%= will_paginate @workshops %> 
            
            <% end %>
 
          
 
        </div>
    </section>

    <div class="clear"></div>

  <!-- Box do ranking  -->

    <section id="ranking-adm">
        <div class="box-ranking-adm">
         
         
         
          <!--<h3>Ranking das Ejs</h3>-->
          <!--<ol>-->
          <!--  <li>  IN JUNIOR   </li>-->
          <!--  <li>  EJCM   </li>-->
          <!--  <li>  P&Q ENGENHARIA   </li>-->
          <!--</ol>-->
          
        </div>
        <div class="clear"></div>
    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>


















<!--<p id="notice"><%= notice %></p>-->

<!--<h1>Workshops</h1>-->

<!--<table id="workshops">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>Description</th>-->
<!--      <th>Begin time</th>-->
<!--      <th>Finish time</th>-->
<!--      <th>Capacity</th>-->
<!--      <th>Occupied</th>-->
<!--      <th>Available</th>-->
<!--      <th>Local</th>-->
<!--      <th>Palestrante</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @workshops.each do |workshop| %>-->
<!--      <tr>-->
<!--        <td><%= workshop.title %></td>-->
<!--        <td><%= workshop.description %></td>-->
<!--        <td><%= workshop.begin_time %></td>-->
<!--        <td><%= workshop.finish_time %></td>-->
<!--        <td><%= workshop.capacity %></td>-->
<!--        <td><%= workshop.occupied %></td>-->
<!--        <td><%= workshop.available %></td>-->
<!--        <td><%= workshop.local %></td>-->
<!--        <td><%= Speaker.find_by_id(workshop.speaker_id).name %></td>-->
        
<!--        <td> <input class="inscricao" type="checkbox" value= "<%= workshop.id %>" <%= 'checked' if inscritoNaPalestra(current_user, workshop)%> >-->
<!--        </td>-->
        
<!--        <td><%= link_to 'Show', workshop %></td>-->
<!--        <td><%= link_to 'Edit', edit_workshop_path(workshop) %></td>-->
<!--        <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<button class = 'btn_inscrever'>Confirmar</button>-->

<!--<br>-->

<!--<%= link_to 'New Workshop', new_workshop_path %>-->

<!--<div class="navPag">-->
<!--  <%= will_paginate @workshops %>-->
<!--</div>-->
<script>
  $('#workshops').DataTable({});
</script>
