<div class="topo-menu">
<h1>Editing Workshop</h1>
</div>
<%= render 'form', workshop: @workshop %>
<div class="topo-menu">
<%= link_to 'Show', @workshop %> |
<%= link_to 'Back', workshops_path %>
</div>