<p id="notice"><%= notice %></p>

<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%><!--<img src="/assets/EventIn.png">-->

      <ul>
            
            <li>  <%= link_to 'Evento', events_path, :class=> "link-home-temp"%>   </li>
            <li>  <%= link_to 'Downloads', materials_path, :class=> "link-home-temp"%>   </li>
            <li>  <%= link_to 'Palestras', workshops_path, :class=> "link-home-temp"%>   </li>
           
            <li>  <%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%>   </li>
            <li>  <%= link_to 'EJS', ejs_path, :class=> "link-home-temp"%>   </li>
            <li>  <%= link_to 'Federações', federacaos_path, :class=> "link-home-temp"%>   </li>
      </ul>
      
</nav>

<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
        
          
        <ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>

          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Criar Evento', new_event_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Documentos', new_material_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Palestras', new_workshop_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Quarto', new_room_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Hospedagem', new_local_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar EJS', new_ej_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Federação', new_federacao_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%> </li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
          <h1>Palestras</h1>
          
          <h2>
            <%= current_user.name %>
          </h2>
 
        <section class="box-workshops">
            <% @workshops.each do |workshop| %>
              
                <div class="desc-workshops">
                <h3>Titulo :<%= workshop.title %></h3>
                <h3>Descrição :<%= workshop.description %></h3>
                <h3>Inicio do Tempo :<%= workshop.begin_time %></h3>
                <h3>Fim do Tempo :<%= workshop.finish_time %></h3>
                <h3>Capacidade :<%= workshop.capacity %></h3>
                <h3>Ocupado :<%= workshop.occupied %></h3>
                <h3>Disponivel :<%= workshop.available %></h3>
                <h3>Local :<%= workshop.local %></h3>
                <h3>Palestrante :<%= Speaker.find_by_id(workshop.speaker_id).name %></h3>
                
                <div class="btn-workshops"><%= link_to 'Editar', edit_workshop_path(workshop), :class=> "link-workshop" %>
                <%= link_to 'Deletar', workshop, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "link-workshop" %>
                
                </div>
                
                <%= will_paginate @workshops %> 
                
                </div>

                

           <% end %>     
            
           
           
          </section>
           
        </div>
    </section>

    <div class="clear"></div>


    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer-workshops">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>

<script>
  $('#workshops_adm').DataTable({});
</script>
