<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%><!--<img src="/assets/EventIn.png">-->

      <!--<ul>-->
      <!--  <li>  <a href="#">Home</a>   </li>-->
      <!--  <li>  <a href="#">Documentos</a>   </li>-->
      <!--  <li>  <a href="#">Criar Palestras</a>   </li>-->
      <!--  <li>  <a href="#">Criar Eventos</a>   </li>-->
      <!--  <li>  <a href="#">Criar Hospedagens</a>   </li>-->
      <!--  <li>  <a href="#">Criar EJs e Federações</a>   </li>-->
      <!--</ul>-->
      
      <ul>
            
            <li><%= link_to 'Transferencia', transfers_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Palestras', workshops_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking Federação', ranking_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking EJs', ranking_ejs_path, :class=> "link-home-temp"%></li>
      </ul>
      
</nav>

<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
          
          <% if !current_user.admin %>
          <div class="foto-user">
            
          <%= image_tag(current_user.profile_photo_url)  if current_user.profile_photo.present? %>
          
          </div>
          <% end %>
          
        <ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Editar Perfil', user_edit_path(current_user), :class=> "link-home-temp" %> </li>
          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Criar Evento', new_event_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Documentos', new_material_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Palestras', new_workshop_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Quarto', new_room_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Hospedagem', new_local_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar EJS', new_ej_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Criar Federação', new_federacao_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%> </li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
            <h1>Workshops</h1>
            <div class="box-details">
                <p class="titulo"><%= @workshop.title %></p>
                <p class="tags">Palestrante</p>
                <p class="campos"><%= @workshop.speaker.name %></p>
                <p class="tags">Descrição</p>
                <p class="campos"><%= @workshop.description %></p>
                <p class="tags">Materiais Necessários</p>
                <% @materials.each do |material| %>
                    <div class="materiais">
                        <p class="arq">Arquivo</p>
                        <p class="desc">Descrição</p>
                        <p class="materiais-titulo"><%= material.title %></p>
                        <p class="materiais-descricao"><%= material.description %></p>
                    </div>
                    <div class="btn-materiais">
                        <%= link_to 'Detalhes', material, :class=> "btn-detalhes" %>
                        <%= link_to 'Baixar', :controller => 'materials', :action => 'download_file', :id => material.id %>
                    </div>
                <% end %>
            </div>
 
          
 
        </div>
    </section>

    <div class="clear"></div>

  <!-- Box do ranking  -->

    <section id="ranking-adm">
        <div class="box-ranking-adm">
         
         
         
          <!--<h3>Ranking das Ejs</h3>-->
          <!--<ol>-->
          <!--  <li>  IN JUNIOR   </li>-->
          <!--  <li>  EJCM   </li>-->
          <!--  <li>  P&Q ENGENHARIA   </li>-->
          <!--</ol>-->
          
        </div>
        <div class="clear"></div>
    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>


















<!--<p id="notice"><%= notice %></p>-->

<!--<p>-->
<!--  <strong>Title:</strong>-->
<!--  <%= @workshop.title %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Description:</strong>-->
<!--  <%= @workshop.description %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Begin time:</strong>-->
<!--  <%= @workshop.begin_time %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Finish time:</strong>-->
<!--  <%= @workshop.finish_time %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Capacity:</strong>-->
<!--  <%= @workshop.capacity %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Occupied:</strong>-->
<!--  <%= @workshop.occupied %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Available:</strong>-->
<!--  <%= @workshop.available %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Local:</strong>-->
<!--  <%= @workshop.local %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Palestrante:</strong>-->
<!--  <%= @workshop.speaker.name %>-->
<!--</p>-->

<!--<% if current_user.admin %>-->
<!--  <%= link_to 'Edit', edit_workshop_path(@workshop) %> |-->
<!--<% end %>-->
<!--<%= link_to 'Back', workshops_path %>-->

<!--<h3>Materials</h3>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>Description</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @materials.each do |material| %>-->
<!--      <tr>-->
<!--        <td><%= material.title %></td>-->
<!--        <td><%= material.description %></td>-->
<!--        <td><%= link_to 'Detalhes', material %> |</td>-->
<!--        <td><%= link_to 'Baixar', :controller => 'materials', :action => 'download_file', :id => material.id %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->