<%= form_for @user, url: @user.persisted? ? user_edit_path : user_new_path do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

     <section id="background-page">
         <div id="container-cad">
           
            <div class="img-cad"> 
            
              <img src="/assets/EventInB.png">
              
            </div>
                
                      <div class="caixa-cad">
                        <div class="col-50">
                          <i class="fa fa-user fa-2x"></i>
                          <!--Nome:-->
                          <!--<%= f.label :name %>-->
                          <%= f.text_field :name, id: :user_name, :placeholder => "Nome", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="text"  placeholder="Digite seu Nome">-->
                          </div>
                          <div class="col-50">
                          <i class="fa fa-envelope fa-2x"></i> 
                          <!--E-mail:-->
                          
                           <!--<%= f.label :Email %>-->
                           <%= f.text_field :email, id: :user_email, :placeholder => "Email", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="text" placeholder="Digite seu E-mail">-->
                          </div>
                      </div>

                      <div class="caixa-cad">
                        <div class="col-50">
                          <i class="fa fa-phone fa-2x"></i>
                          <!--Cel:-->
                          <!--<%= f.label :Cel %>-->
                          <%= f.text_field :cel, id: :user_cel, :placeholder => "Cel", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="text" placeholder="(XX) 888000888">-->
                          </div>
                          <div class="col-50">
                          <i class="fa fa-home fa-2x"></i> 
                          <!--Cep:-->
                          <!--<%= f.label :CEP %>-->
                          <%= f.text_field :cep, id: :user_cep, :placeholder => "CEP", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="number" placeholder="Digite seu CEP">-->
                          </div>
                      </div>

                      <div class="caixa-cad">
                        <div class="col-50">
                          <i class="fa fa-user fa-2x"></i>
                          <!--Nick:-->
                          
                          <!--<%= f.label :Nick %>-->
                          <%= f.text_field :nick, id: :user_nick, :placeholder => "Nick", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="text" placeholder="Digite seu Nickname">-->
                          </div>
                          <div class="col-50">
                          <i class="fa fa-address-card-o fa-2x"></i>
                          <!--CPF:-->
                          <!--<%= f.label :CPF %>-->
                          <%= f.text_field :cpf, id: :user_cpf, :placeholder => "CPF", :class=> "text-form-cad" %>
                          <!--<input name="Nome" type="number" placeholder="Digite seu CPF">-->
                          </div>
                      </div>
                      
                      <div class="caixa-cad">
                          <div class="col-50">
                          <i class="fa fa-user-o fa-2x"></i>
                          <!--<%= f.label :Pos_Junior %>-->Pós Junior :        
                          <%= f.check_box :pos_junior, id: :pos_junior, :placeholder => "Pos Junior" %>
                          </div>
                          <div class="col-50">
                          <!--<%= f.label :Foto_de_Perfil %>-->
                          <i class="fa fa-camera fa-2x"></i>
                          <%= f.file_field :profile_photo %>
                          </div>
                      </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                  
                    <div class="caixa-cad">
                      <div class="col-50">
                    <!--<%= f.label :Federacao %>-->
                    
                    <%= f.select :federacao_id, @federacaos.collect { |federacao| [federacao.name,federacao.id] }, :prompt => "Federações" %>
                    </div>
                    <div class="col-50">
                    <!--<%= f.label :Cargo_Federacao %>-->

                    <%= f.text_field :cargo_federacao, id: :user_cargo_federacao, :placeholder => "Cargo Federacao", :class=> "text-form-cad" %>  
                    </div>
                    </div>
                    
                    <div class="caixa-cad">
                    <div class="col-50">
                    <!--<%= f.label :EJ %>-->
                    <%= f.select :ej_id, @ejs.collect { |ej| [ej.name,ej.id] }, :prompt => "Empresa Junior" %>
                    </div>
                    <div class="col-50">
                    <!--<%= f.label :Cargo_EJ %>-->
                    <%= f.text_field :cargo_ej, id: :user_cargo_ej, :placeholder => "Cargo EJ", :class=> "text-form-cad" %>
                    </div>
                    </div>

                    
                      <div class="col-50">
                    <!--<%= f.label :Senha %>--><i class="fa fa-key fa-2x"></i>
                    <%= f.password_field :password, :placeholder => "Senha", :class=> "text-form-cad" %>
                     </div> 
                     <div class="col-50">
                    <!--<%= f.label :Confimar_Senha %>-->
                    <!--Confirmar Senha:-->
                    <%= f.password_field :password_confirmation, :placeholder => "Confirmar Senha", :class=> "text-form-cad" %>
                    </div>
                    <!--<input class="cargo" name="Nome" type="text" placeholder="Digite sua senha">-->
                    <!--<input class="cargo" name="Nome" type="text" placeholder="Confirme sua senha">-->
                    <div class="final-cad">
                    <%= f.submit "Enviar", :class=> "btn-cad" %><br>
                    <%= link_to "Sair", login_path, :class=> "link-home-temp" %>
                    <% end %>
                    </div>
                    
         </div>          
          
    </section>
  