<p id="notice"><%= notice %></p>

<h3>Top EJs</h3>

<% @ejs.each do |ej| %>

  <ul>
    <li>Nome: <%= ej.name %>     </li>
    <li>Federação: <%= ej.federacao.name %>    </li>
    <li>Numero de Inscritos: <%= ej.count %>   </li>
  </ul>
  
<% end %>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Nome</th>-->
<!--      <th>Federação</th>-->
<!--      <th>Numero de Inscritos</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @ejs.each do |ej| %>-->
<!--      <tr>-->
<!--        <td><%= ej.name %></td>-->
<!--        <td><%= ej.federacao.name %></td>-->
<!--        <td><%= ej.count %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->
