<p id="notice"><%= notice %></p>

<nav class="menu-nav">

      <%= image_tag("/assets/EventIn.png")%>
      
      <ul>
            
            <li><%= link_to 'Transferencia', transfer_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Palestras', workshops_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Hospedagens', local_choice_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking Federação', ranking_path, :class=> "link-home-temp"%></li>
            <li><%= link_to 'Ranking EJs', ranking_ejs_path, :class=> "link-home-temp"%></li>
            
      </ul>
      
</nav>


<div class="clear"></div>

<!-- Menu -->
  <!-- background da página -->
  <section id="background-page-adm">
    <header id="menu">


    </header>

  <!-- Box do Administrador -->
    <section id="adm">
        <div class="box-adm">
        
          
        <ul>
          
          <li>  <%= link_to 'Home', login_path, :class=> "link-home-temp"%></li>
          
          <li>  <%= link_to 'Recuperar Senha', password_recover_path, :class=> "link-home-temp"%> </li>
          <li>  <%= link_to "Logout", logout_path, method: :delete, :class=> "link-home-temp" %>   </li>
          
          <% if current_user.admin %> 
          <li>  <%= link_to 'Transferencias', transfers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Palestrantes', speakers_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Eventos', events_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Materiais', materials_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Quartos', rooms_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Hospedagens', locals_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'EJs', ejs_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Federações', federacaos_path, :class=> "link-home-temp"%></li>
          <li>  <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%></li>
          <% end %>
          
        </ul>
         
        </div>
    </section> 

  <!-- Box principal -->

    <section id="principal-adm">
        <div class="box-principal-adm">
          <h1>Eventos</h1>
          
          <h2>
            <%= current_user.name %>
          </h2>
 
        <section class="box-users">
            
            <% @users.each do |user| %>
            
            <div class="desc-users"><h3>Nome :<%= user.name %>
            | Email :<%= user.email %>
            | Nick :<%= user.nick %>
            | Celular :<%= user.cel %></h3>
            <div class="btn-users"><%= link_to 'Editar', user_edit_path(user), :class=> "link-home-temp"  %>
            <%= link_to 'Deletar', user_destroy_path(user), method: :delete, data: { confirm: 'Você tem certeza?' }, :class=> "link-home-temp"  %>
            <%= link_to 'Novo Usuario', user_new_path, :class=> "link-home-temp" %>
            </div>
            
            
            
           <% end %>
           
           <div class="pag-users"><%= will_paginate @users, :class=> "link-home-temp"  %></div>
           
           <!--<div class="btn-newusers"><%= link_to 'Novo Usuario', user_new_path, :class=> "link-home-temp" %></div>-->
           
           </div>
           </div>
           
          </section>
 
        </div>
    </section>

    <div class="clear"></div>


    </section> 

    <div class="clear"></div>

  <!-- Footer -->


    <footer id="footer-users">  
      <p>Todos os direitos reservados</p>
      <p>EventIn 2017</p>   
    </footer>
  </section>


<script>
  $('#users_adm').DataTable({});
</script>


