<%= form_for :session do |f| %>

<section id="background-page">
          <div id="container">
              
              <img src="/assets/EventInB.png">
              <form>

                  
                    <center>
                    <div class="bloco">
                      <i class="fa fa-envelope fa-2x"></i> <%= f.text_field :email, :id => "input", :placeholder => "Digite seu Email", :class => "text-form" %><br />
                    </div></center>
                  
              </form>

              <div class="clear"></div>
                <div class="entrar">
                  
                <center>
                <%= f.submit "ENVIAR", :class => "btn-entrar" %>
                <% end %>
                <%= link_to "Sair", login_path, :class=> "link-home-temp" %>
                </center>
                </div>

          </div>
    </section>