<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.name %></h1>
    <p>
      Sua nova senha é: <%= @senha %>.<br>
    </p>
    <p>
      Para fazer login, siga este link: <%= @url %>.
    </p>
    <p>Obrigado por participar!</p>
  </body>
</html>