Parabéns, <%= @user.name %>
===============================================
 
Você completou seu cadastro em nosso site, seu nick é: <%= @user.nick %>.
 
Para fazer login, siga este link: <%= @url %>.
 
Obrigado por participar!