<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Parabéns, <%= @user.name %></h1>
    <p>
      Você completou seu cadastro em nosso site,
      seu nick é: <%= @user.nick %>.<br>
    </p>
    <p>
      Para fazer login, siga este link: <%= @url %>.
    </p>
    <p>Obrigado por participar!</p>
  </body>
</html>