<!-- Ira exibir os possiveis erros de operacoes do nosso sistema
Cores, :success => verde, :info => azul, :warning => amarelo, :danger => vermelho
-->
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
    <a class="close" data-dismiss="alert">&#215;</a>
  </div>
<% end %>