<!DOCTYPE html>
<html>
  <head>
    <title>EventIN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      <div class="topo-menu-temp">
      <%= link_to 'Login', login_path, :class=> "link-home-temp"%>  
      <%= link_to 'Ranking Federação', ranking_path, :class=> "link-home-temp"%>
      <%= link_to 'Ranking EJS', ranking_ejs_path, :class=> "link-home-temp"%>
      <%= link_to 'Quartos Reservados', cancel_reservation_path, :class=> "link-home-temp"%>
      <%= link_to 'Locais Hospedagem', local_choice_path, :class=> "link-home-temp"%>


      <%= link_to 'Eventos', events_path, :class=> "link-home-temp"%>
      <%= link_to 'Novo Evento', new_event_path, :class=> "link-home-temp"%>


      <%= link_to 'Downloads Documentos', materials_path, :class=> "link-home-temp"%>
      <%= link_to 'Criar Documentos', new_material_path, :class=> "link-home-temp"%>


      <%= link_to 'Palestras', workshops_path, :class=> "link-home-temp"%>
      <%= link_to 'Criar Palestras', new_workshop_path, :class=> "link-home-temp"%>


      <%= link_to 'Quartos', rooms_path, :class=> "link-home-temp"%>
      <%= link_to 'Criar Quarto', new_room_path, :class=> "link-home-temp"%>


      <%= link_to 'Hospedagens', locals_path, :class=> "link-home-temp"%>
      <%= link_to 'Nova Hospedagem', new_local_path, :class=> "link-home-temp"%>


      <%= link_to 'EJS', ejs_path, :class=> "link-home-temp"%>
      <%= link_to 'Criar EJS', new_ej_path, :class=> "link-home-temp"%>


      <%= link_to 'Federações', federacaos_path, :class=> "link-home-temp"%>
      <%= link_to 'Criar Federação', new_federacao_path, :class=> "link-home-temp"%>


      <%= link_to 'Usuarios', users_path, :class=> "link-home-temp"%>

      <%= link_to 'Criar Usuarios', users_new_path, :class=> "link-home-temp"%>



      <%= link_to 'Login', login_path, :class=> "link-home-temp"%>

      </div>  
      
      <div class="clear"></div>
      
      <div class="topo-menu">
      <h1> EventIN - IN Junior</h1>
      <!--</div>-->
      <!--<div class="topo-menu">-->
      <%= link_to 'Usuários', users_path %>
      <!--</div>-->
      <!--<div class="topo-menu">-->
      <%= link_to 'Novo Usuário', user_new_path %>
      <!--</div>-->
    </header>

    <% if logged_in?%>
      <div class="topo-menu"><p>Você está logado <%= current_user.name %> <%= link_to "Logout", logout_path, method: :delete %></p></div>
    <% end %>
    
    <%= render 'layouts/messages'%>
    
    <%= yield %>
    
  </body>
</html>
